#hdtb-msb .hdtb-mitem:first-child.hdtb-msel, #hdtb-msb .hdtb-mitem:first-child.hdtb-msel-pre {
	margin-left: 13px !important;
}

#slim_appbar {
	margin-left: 0px !important;
}

#center_col {
    margin-left: 0px !important;
    width: 750px !important;
}

.s {
 	max-width: none;
}

.mw { /*container for the whole results thing*/
	max-width: 100%;

}

.mw #rhs { /*infobox container */
	margin-left: 800px;
}
